/* Estilos gerais */
body {
  font-family: 'Playfair Display', serif; /* Fonte para o corpo do texto */
  margin: 0;
  padding: 0;
  font-size: 18px; /* Tamanho da fonte ajustado para melhor legibilidade */
  color: #333; /* Cor de texto neutra */
  background-color: #f4f4f4; /* Cor de fundo clara */
}

/* Estilos para o header */
header {
  background-color: #e3d7f2; /* Verde escuro para o cabeçalho */
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end; /* Alinha os elementos para a direita */
  align-items: center;
  color: #2a7a54;
}

/* Estilos para o formulário de pesquisa no cabeçalho */
header form {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Espaçamento à direita */
}

header input[type="text"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

header button {
  background-color: #1abc9c; /* Verde claro para o botão de pesquisa */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

header button:hover {
  background-color: #16a085; /* Verde escuro ao passar o mouse */
}

/* Estilos para os ícones no cabeçalho */
header a {
  color: #fff; /* Cor dos ícones */
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.5em; /* Tamanho dos ícones ajustado */
}

header a:hover {
  opacity: 0.8;
}

/* Estilos para a seção de organização */
.organizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 800px; /* Largura máxima para centralizar */
}

.organizacao a {
  display: block;
  text-align: center;
  padding: 15px 30px;
  background-color: #41634b; /* Verde escuro para os botões */
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.organizacao a:hover {
  background-color: #41634b; /* Verde escuro mais intenso ao passar o mouse */
  transform: scale(1.03); /* Leve aumento ao passar o mouse */
}

.icon button {
  background: none;
  border: none;
  cursor: pointer;
  color: #2a7a54;
  font-size: 24px; /* tamanho dos ícones */
}

.icon a {
  margin-left: 20px;
  color: #2a7a54;
  font-size: 24px; /* tamanho dos ícones */
}

.icon a:hover, .icon button:hover {
  color: #1e5b41; /* tom mais escuro ao passar o mouse */
}

.icon {
  display: flex;
  align-items: center;
}

.icon form {
  display: flex;
  align-items: center;
}

/* Tipografia */
.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 18px; /* Ajuste de tamanho para melhor consistência */
}

.playfair-display-uniquifier {
  font-family: 'Playfair Display', serif;
  font-weight: 700; /* Negrito */
}

.img{
align-items: flex;

}