body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

header {
  background-color: #c3b2e2;
  padding: 20px;
  display: flex;
  
  align-items: center;
}

img {
  width: 70px; /* Ajuste o valor para o tamanho desejado */
  height: auto;
  justify-content: flex-start; /* Alinha os itens para o início (esquerda) */
}

header a {
  color: #41634b;
  text-decoration: none;
  margin-left: 15px;
  font-size: 30px;
}

header a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  width: calc(33.33% - 20px); /* Cálculo para espaçamento */
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  margin-bottom: 10px;
}

.product-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.product-button:hover {
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 768px) {
  .product {
      width: 100%;
  }
}
