body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

header {
  background-color: #c3b2e2;
  padding: 20px;
  display: flex;
  justify-content: flex-end; /* Alinha os elementos para a direita */
}

header a {
  color: #41634b;
  text-decoration: none;
  margin-left: 15px;
  font-size: 30px;
}

header a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.organizacao{
;

}

.Rotinas1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.Rotinas1 {
  width: 190px;
  height: 254px;
  background: #c3b2e2;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 8px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.Rotinas1:hover {
  transform: scale(1.04) rotate(1deg);
}

.Rotinas2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.Rotinas2 {
  width: 190px;
  height: 254px;
  background: #c3b2e2;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 8px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.Rotinas2:hover {
  transform: scale(1.04) rotate(1deg);
}

.Rotinas3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.Rotinas3 {
  width: 190px;
  height: 254px;
  background: #c3b2e2;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 8px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.Rotinas3:hover {
  transform: scale(1.04) rotate(1deg);
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold 800;
  font-style: italic;
}