body {
    background-color: #89bb89;
  }
  .container {
    width: 500px; /* Largura do container */
    margin: 20px auto; /* Adicionar margem superior e inferior e centralizar horizontalmente */
    background-color: #c3b2e2;
    border-radius: 15px; /* Cor de fundo */
    padding: 10px;
    color: #4a7256;
    box-shadow: 15px 10px #9c8fb6;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    align-content: center;
  }
  h2 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: #4a7256;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #5c8167;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #b2a6ca;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    font-size: 150%;
  }
  
  a {
    color: #5c8167;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #b2a6ca;
  }
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  .playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold 800;
    font-style: italic;
  }