/* RedefinirSenha.css */
body {
    font-family: 'Playfair Display', serif; /* Fonte principal */
    background-color: #f4f4f4; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white; /* Cor de fundo do container */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center; /* Centraliza o texto */
}

h1 {
    font-family: 'Bebas Neue', cursive; /* Fonte do título */
    color: #2c3e50; /* Cor do título */
    margin-bottom: 20px; /* Espaçamento inferior */
}

input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #2c3e50; /* Borda do campo */
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Playfair Display', serif; /* Fonte do input */
    transition: border-color 0.3s;
}

input[type="password"]:focus {
    border-color: #27ae60; /* Borda verde escuro ao focar */
    outline: none; /* Remove a borda padrão do navegador */
}

button {
    width: 90%;
    padding: 15px;
    background-color: #27ae60; /* Verde escuro */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #219150; /* Efeito de hover */
    transform: translateY(-2px); /* Leve efeito de elevação */
}

a.button {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #27ae60; /* Verde escuro para o link */
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive; /* Fonte do link */
}

a.button:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}
