.nav-bar {
    background-color: lightblue;
    padding: 10px;
    list-style: none;
    margin: 0;
    display: flex;
}

.nav-bar-item {
    margin-right: 10px;
}

.nav-bar-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-bar-item button:hover {
    text-decoration: underline;
}
