body {
  background-color: #f9f9fb;
}
.cadatrese h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  color: #4a7256;
}
.facalogin {
  font-family: "Playfair Display", serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #4a7256;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-size: 20px;
  align-items: center;
}

.container {
  width: 500px; /* Largura do container */
  margin: 50px auto; /* Adicionar margem superior e inferior e centralizar horizontalmente */
  background-color: #e3d7f2;
  border-radius: 15px; /* Cor de fundo */
  padding: 10px;
  color: #1e5b41;
  font-family: "Bebas Neue", sans-serif;
  box-shadow: 15px 10px #afaabb;
  align-items: center;
}
input{
  border: 1px;
  font-size: 15px;
  padding: 5px; /* Adicionar espaçamento interno */ 
  border-radius: 10px; /* Cor de fundo */ 
  flex-direction: column; /* Organiza os elementos em coluna */
  display: inline-block;
  width: 98%;
}
button[type="submit"] {
  font-family: "Playfair Display", serif;
  background-color: #4a7256;
  color:#e0e0e0 ;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: #7dac88;
}

select{
  display: inline-block;
  padding: 10px 10px 5px;
  border-radius: 10px; /* Arredondamento completo */
  background-color: #e0e0e0; /* Roxo */
  color: #4a7256; /* Verde */
  font-family: "Bebas Neue", sans-serif; /* Fonte normal */ 
  text-decoration: none;
  cursor: pointer;

}
a {
color: #4a7256;
text-decoration: underline;
transition: color 0.3s ease;
}

a:hover {
  color: #7dac88;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold 800;
  font-style: italic;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Garante que fique atrás de todos os elementos */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: center center; /* Centraliza a imagem */
  opacity: 0.5; /* Define a opacidade (ajuste conforme necessário) */
}