  body{
    background-color: #89bb89;
  }
  .cadatrese h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: #4a7256;
  }
  .facalogin {
    font-family: "Playfair Display", serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #4a7256;
  }
  .container {
    width: 500px; /* Largura do container */
    margin: 20px auto; /* Adicionar margem superior e inferior e centralizar horizontalmente */
    background-color: #c3b2e2;
    border-radius: 15px; /* Cor de fundo */
    padding: 10px;
    color: #4a7256;
    box-shadow: 15px 10px #9c8fb6;
  }
  input{
    border: 1px;
    font-size: 15px;
    padding: 5px; /* Adicionar espaçamento interno */ 
    border-radius: 10px; /* Cor de fundo */ 
    flex-direction: column; /* Organiza os elementos em coluna */
    display: inline-block;
    width: 70%;
  }
  button{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px; /* Arredondamento completo */
  background-color: #d4d3d6; /* Roxo */
  color: #4a7256; /* Verde */
  font-family: "Playfair Display", serif; /* Fonte normal */ 
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  select{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px; /* Arredondamento completo */
    background-color: #e0e0e0; /* Roxo */
    color: #4a7256; /* Verde */
    font-family: "Bebas Neue", sans-serif; /* Fonte normal */ 
    text-decoration: none;
    cursor: pointer;

  }

  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  .playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold 800;
    font-style: italic;
  }
